.container {
  width: 85%;
  margin: 0 auto;
}

a.btn {
  background: var(--blue-light);
  color: var(--white);
  border-radius: 10px;
  font-weight: 500;
}

a.hero-btn {
  position: relative;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.75em 2.285em;
}

a.hero-btn span {
  z-index: 1;
  position: relative;
}

a.hero-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 100%;
  top: 0;
  height: 100%;
  background: var(--blue-light-gradient-angle);
  border-radius: 10px;
  -webkit-animation: mainBtn 0.75s ease-in-out;
          animation: mainBtn 0.75s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes mainBtn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    top: 0;
    left: 0;
  }
}

@keyframes mainBtn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    top: 0;
    left: 0;
  }
}

a.other-btns {
  font-size: 1.44em;
  padding: 0.5em 2.461em;
  position: relative;
  margin-bottom: 1.73em;
  z-index: 2;
}

:root {
  --blue-light: #366196;
  --blue-darker: #294972;
  --beige-main: #d3a375;
  --beige-lighter: #e6cbb2;
  --black-text: #333333;
  --white: #ffffff;
  --big-text: #f7f7f7;
  --blue-gradient: linear-gradient(
    180deg,
    rgba(53, 96, 149, 1) 0%,
    rgba(41, 73, 114, 1) 100%
  );
  --blue-light-gradient: linear-gradient(
    90deg,
    rgba(109, 129, 215, 1) 0%,
    rgba(8, 174, 234, 1) 100%
  );
  --blue-light-gradient-angle: linear-gradient(
    180deg,
    rgba(109, 129, 215, 1) 25%,
    rgba(8, 174, 234, 1) 100%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.each-section {
  margin: 11.111em 0 0 0;
}

li a {
  color: var(--black-text);
}

::-webkit-scrollbar {
  width: 10px;
  background: #ececec;
}

::-webkit-scrollbar-thumb {
  background: #dcb793;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--beige-main);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: var(--black-text);
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 1.7;
}

p {
  font-size: 1em;
}

h1,
h2 {
  font-size: 3.222em;
  font-weight: 700;
  line-height: 1.6;
}

h3 {
  font-size: 1.667em;
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-weight: 500;
  font-size: 1.166em;
  color: var(--white);
}

h5 {
  font-weight: 400;
  font-size: 1.444em;
  margin-top: 1.73em;
}

.big-section-title {
  color: var(--big-text);
  font-size: 14.555em;
  font-weight: 700;
  position: absolute;
  top: 40%;
  line-height: 0;
  z-index: -1;
}

.title-span {
  color: var(--blue-light);
  cursor: pointer;
}

.title-span:hover {
  color: var(--blue-darker);
}

header {
  height: 96vh;
}

nav {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name-profession {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.name-profession h4 {
  color: var(--text-color);
}

.name-profession p {
  font-family: 'Merienda', cursive;
  font-size: 0.7em;
  color: var(--blue-light);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4em;
}

.nav-list li {
  position: relative;
  font-size: 0.888em;
}

.nav-list li:hover::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background: var(--beige-main);
  -webkit-animation: moveToRight 0.5s ease-in-out;
          animation: moveToRight 0.5s ease-in-out;
}

@-webkit-keyframes moveToRight {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes moveToRight {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.nav-list li a {
  color: var(--white);
}

.hero-svg {
  z-index: -1;
  width: 57.5vw;
  top: 0;
  right: 0;
  position: absolute;
}

.logo-place {
  background: var(--blue-light);
  position: relative;
  width: 156px;
  height: 163px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 50% 50%;
  -webkit-box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.09);
}

.logo-place:hover::after {
  content: '';
  position: absolute;
  width: 156px;
  height: 163px;
  background: var(--blue-light-gradient-angle);
  border-radius: 0 0 50% 50%;
  z-index: -1;
  -webkit-animation: logoFill 0.75s ease-in-out;
          animation: logoFill 0.75s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes logoFill {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes logoFill {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.logo {
  width: 65%;
  margin-bottom: 15%;
}

main {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-title {
  margin-bottom: 0.344em;
  width: 45%;
}

.hero-text {
  margin-bottom: 3.5em;
  width: 45%;
}

.sections-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  gap: 2em;
  left: 50%;
  bottom: 50px;
}

.section-shortcut {
  width: 10px;
  height: 10px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--beige-main);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.section-shortcut p {
  position: absolute;
  text-align: center;
  display: none;
  bottom: 1.5em;
  color: var(--beige-main);
  font-size: 0.825em;
}

.section-shortcut:hover p {
  display: initial;
}

.section-shortcut:hover::after {
  content: '';
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background: var(--beige-main);
  border-radius: 50%;
  top: -2.75px;
  left: -2.75px;
  -webkit-animation: choseSection ease-in-out 0.25s;
          animation: choseSection ease-in-out 0.25s;
}

@-webkit-keyframes choseSection {
  0% {
    width: 10px;
    height: 10px;
  }
  100% {
    width: 12.5px;
    height: 12.5px;
    top: -2.75px;
    left: -2.75px;
  }
}

@keyframes choseSection {
  0% {
    width: 10px;
    height: 10px;
  }
  100% {
    width: 12.5px;
    height: 12.5px;
    top: -2.75px;
    left: -2.75px;
  }
}

.hero-social-networks {
  background: var(--beige-main);
  display: inline-block;
  padding: 1em;
  border-radius: 80px 0 0 80px;
  position: absolute;
  bottom: 50px;
  z-index: 1;
  right: -205px;
}

.hero-social-networks .fab {
  color: var(--white);
  margin: 0 1em 0 1em;
  cursor: pointer;
}

.hero-social-networks .fab:hover::before {
  font-size: 1.2em;
  background: var(--blue-light-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  /* reset Font Awesome's display:inline-block */
  -webkit-animation: textAnim 0.5s ease-in-out;
          animation: textAnim 0.5s ease-in-out;
}

@-webkit-keyframes textAnim {
  0% {
    font-size: 1em;
  }
  100% {
    font-size: 1.2em;
  }
}

@keyframes textAnim {
  0% {
    font-size: 1em;
  }
  100% {
    font-size: 1.2em;
  }
}

.hero-social-networks .fab:first-of-type {
  margin-left: 2em;
}

.hero-social-networks-slide {
  right: 0;
}

.social-proof {
  background: var(--blue-light-gradient);
  margin: 5.555em 0 0 0;
  padding: 2.5em 0;
}

.all-proofs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--white);
}

.proof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.proof-icon-container {
  width: 100px;
  height: 100px;
  background: var(--white);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proof-icon {
  width: 65%;
}

.proof-text {
  margin-left: 1.667em;
}

.separate-line {
  width: 2px;
  background: var(--white);
  height: 50%;
  margin: auto;
}

.benefits-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.benefits-container {
  width: 80%;
  position: relative;
  margin: auto;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
  border-radius: 15px;
  margin-top: 6.667em;
  margin-bottom: 5em;
  overflow: hidden;
  background: url("/img/benefits section.webp") no-repeat center 25px;
  background-size: cover;
  padding: 6.667em 0 3.33em 0;
  height: 650px;
}

.benefits-container-top-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
  background: #e1c1a3;
}

.benefit-slider {
  position: absolute;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 3em;
}

.benefit-slider-icon-container {
  background: var(--blue-light);
  width: 60px;
  position: relative;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.benefit-slider-icon-container .benefits-slider-icon {
  width: 25px;
}

.benefit-slider-icon-container:hover::before {
  content: '';
  position: absolute;
  background: var(--blue-light-gradient-angle);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: benefitsSlider 0.5s ease-in-out;
          animation: benefitsSlider 0.5s ease-in-out;
}

@-webkit-keyframes benefitsSlider {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes benefitsSlider {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.all-benefits-slider {
  width: 100%;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit-wrapper {
  position: absolute;
  width: 60%;
  border-radius: 75px 0 75px 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  padding: 1.388em 2.77em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -1em;
}

.benefit-overall-wellbeing {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/overall wellbeing.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/overall wellbeing.webp");
}

.left-slider-div {
  left: 0;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}

.benefit-improve-success {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/improve sucess.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/improve sucess.webp");
}

.right-slider-div {
  right: 0;
  -webkit-transform: translateX(175%);
          transform: translateX(175%);
}

.benefit-clearing-bad-energy {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/clearing bad energy.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/clearing bad energy.webp");
}

.benefit-your-goal {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/realize goal.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/realize goal.webp");
}

.benefit-your-potential {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/full potential.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/full potential.webp");
}

.side-benefit-wrapper {
  height: 250px;
  font-size: 0.5em;
  width: 25%;
}

.side-benefit-wrapper .benefit-icon {
  height: 150px;
}

.side-benefit-wrapper .benefit-read-more {
  display: none;
}

.benefit-title {
  background: var(--blue-gradient);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em 3em;
  border-radius: 100px;
  margin-left: 45%;
}

.grid-icon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit-icon {
  margin-right: 1.5em;
}

.benefit-description {
  color: var(--white);
}

.benefit-read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.77em;
  margin-bottom: 1.388em;
  color: var(--white);
}

.benefit-read-more-text {
  margin-right: 0.833em;
}

.benefit-read-more-icon {
  background: var(--white);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.benefit-read-more-icon div {
  position: absolute;
  background: var(--beige-main);
  width: 50%;
  height: 2px;
  border-radius: 5px;
}

.benefit-read-more-icon div:first-of-type {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.benefit-read-more-icon:hover {
  background: var(--beige-main);
}

.benefit-read-more-icon:hover div {
  background: var(--white);
}

.programs-feature {
  margin-top: 7.222em;
}

.programs-feature-section-description {
  margin: 4em 0 5.555em 0;
}

.programs-features-each-program {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47.5% 52.5%;
      grid-template-columns: 47.5% 52.5%;
}

.programs-features-each-program:last-of-type {
  margin-top: 11.5em;
  -ms-grid-columns: 52.5% 47.5%;
      grid-template-columns: 52.5% 47.5%;
}

.programs-features-each-program:last-of-type .programs-features-program-description-chair {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.programs-features-each-program:last-of-type .programs-features-program-description-chair .programs-features-section-illustration {
  left: 0;
  width: 30%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.programs-features-program-description-chair {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.programs-features-section-illustration {
  right: 0;
  width: 30%;
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
}

.programs-features-program-description {
  width: 85.5%;
}

.program-description-title-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-description-btn {
  background: var(--blue-darker);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-left: 5em;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.program-description-btn:hover::before {
  content: '';
  position: absolute;
  background: var(--blue-light-gradient-angle);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
  -webkit-animation: benefitsSlider 0.5s ease-in-out;
          animation: benefitsSlider 0.5s ease-in-out;
}

.programs-features-short-description {
  margin: 1.944em 0 2.5em 0;
}

.what-program-brings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.111em;
}

.program-brings-check-icon {
  margin-right: 1.111em;
}

.each-programs-pricing {
  width: 90%;
  margin: auto;
  margin-top: 6.944em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 0.5px solid #e8edf3;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
}

.each-programs-pricing:hover .program-pricing-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  top: -25px;
}

.each-programs-pricing:hover .program-pricing-big-pic::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

.each-programs-pricing:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.each-programs-pricing:last-of-type .program-pricing-big-pic {
  background: url("/img/business project pic.webp") no-repeat center;
  background-size: cover;
}

.each-programs-pricing:last-of-type .program-pricing-description-price .program-pricing-price-list {
  border-radius: 10px;
  text-align: center;
  padding: 2em;
}

.program-pricing-big-pic,
.program-pricing-description-price {
  width: 50%;
}

.program-pricing-big-pic {
  background: url("/img/residential project pic.webp") no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.program-pricing-description-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.program-pricing-stars-row {
  color: var(--beige-main);
}

.program-pricing-icon {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.program-pricing-separation-line {
  margin: 1.944em 0 1.667em 0;
  width: 20px;
  height: 1px;
  background: var(--beige-main);
}

.program-pricing-price-list {
  width: 85%;
  background: var(--blue-light);
  padding: 1em 5em 1em 5em;
  margin-bottom: 1.111em;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
}

.program-pricing-price-list:last-of-type {
  margin-bottom: 0;
}

.price-up-to-meter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-up-to-meter .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--beige-main);
  border: 1px solid var(--white);
  margin-right: 1.111em;
}

.program-pricing-all-benefits {
  margin: 3.888em 0;
}

.each-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.388em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.each-benefit:last-of-type {
  margin-bottom: 0;
}

.each-benefit img {
  margin-right: 1.111em;
}

.pricing-btn:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 10px;
  z-index: -1;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--blue-light-gradient-angle);
  -webkit-animation: mainBtn 0.75s ease-in-out;
          animation: mainBtn 0.75s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pricing-btn-second:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 10px;
  z-index: -1;
  height: 100%;
  right: 0;
  top: 0;
  background: var(--blue-light-gradient-angle);
  -webkit-animation: mainBtn2 0.75s ease-in-out;
          animation: mainBtn2 0.75s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes mainBtn2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes mainBtn2 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.pricing-program-last-text {
  width: 85%;
  text-align: center;
  margin-bottom: 1.944em;
}

.get-in-touch {
  margin: 15em 0;
}

.section-title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title-line {
  height: 3px;
  width: 22.5vw;
  background: var(--blue-light);
  position: absolute;
  bottom: -10%;
  left: 0;
}

.section-title-color {
  color: var(--blue-light);
}
/*# sourceMappingURL=main.css.map */