.section-title {
  width: 100%;
  position: relative;
  display: flex;
}

.section-title-line {
  height: 3px;
  width: 22.5vw;
  background: var(--blue-light);
  position: absolute;
  bottom: -10%;
  left: 0;
}

.section-title-color {
  color: var(--blue-light);
}
