.benefits-wrapper {
  width: 100%;
  @include displayFlex(row, center);
  align-items: center;
  position: relative;
}

.benefits-container {
  width: 80%;
  position: relative;
  margin: auto;
  @include divShadow;
  border-radius: 15px;
  margin-top: 6.667em;
  margin-bottom: 5em;
  overflow: hidden;
  background: url('/img/benefits\ section.webp') no-repeat center 25px;
  background-size: cover;
  padding: 6.667em 0 3.33em 0;
  height: 650px;
}

.benefits-container-top-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  @include divShadow;
  background: #e1c1a3;
}

.benefit-slider {
  position: absolute;
  width: 15%;
  @include displayFlex(row, space-between);
  align-items: center;
  transform: translateX(-50%);
  left: 50%;
  bottom: 3em;
}

.benefit-slider-icon-container {
  background: var(--blue-light);
  width: 60px;
  position: relative;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;

  .benefits-slider-icon {
    width: 25px;
  }

  &:hover::before {
    content: '';
    position: absolute;
    background: var(--blue-light-gradient-angle);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: benefitsSlider 0.5s ease-in-out;
  }

  @keyframes benefitsSlider {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
}

.all-benefits-slider {
  width: 100%;
  position: absolute;
  height: fit-content;
  @include displayFlex(row, space-between);
  align-items: center;
}

.benefit-wrapper {
  position: absolute;
  width: 60%;
  border-radius: 75px 0 75px 0;
  transform: translateX(-50%);
  left: 50%;
  padding: 1.388em 2.77em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -1em;
}

.benefit-overall-wellbeing {
  @include backgroundGradient('/img/overall\ wellbeing.webp');
}

.left-slider-div {
  left: 0;
  transform: translateX(-75%);
  z-index: -1;
}

.benefit-improve-success {
  @include backgroundGradient('/img/improve\ sucess.webp');
}

.right-slider-div {
  right: 0;
  transform: translateX(175%);
  z-index: -1;
}

.benefit-clearing-bad-energy {
  @include backgroundGradient('/img/clearing\ bad\ energy.webp');
}

.benefit-your-goal {
  @include backgroundGradient('/img/realize\ goal.webp');
}

.benefit-your-potential {
  @include backgroundGradient('/img/full\ potential.webp');
}

.side-benefit-wrapper {
  height: 250px;
  font-size: 0.5em;
  width: 25%;

  .benefit-icon {
    height: 150px;
  }

  .benefit-read-more {
    display: none;
  }
}

.benefit-title {
  background: var(--blue-gradient);
  width: fit-content;
  padding: 0.75em 3em;
  border-radius: 100px;
  margin-left: 45%;
}

.grid-icon-description {
  @include displayFlex(row, center);
  align-items: center;
}

.benefit-icon {
  margin-right: 1.5em;
}

.benefit-description {
  color: var(--white);
}

.benefit-read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  @include displayFlex(row, center);
  align-items: center;
  margin-right: 2.77em;
  margin-bottom: 1.388em;
  color: var(--white);
}

.benefit-read-more-text {
  margin-right: 0.833em;
}

.benefit-read-more-icon {
  background: var(--white);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  div {
    position: absolute;
    background: var(--beige-main);
    width: 50%;
    height: 2px;
    border-radius: 5px;

    &:first-of-type {
      transform: rotate(90deg);
    }
  }
  &:hover {
    background: var(--beige-main);

    div {
      background: var(--white);
    }
  }
}
