header {
  height: 96vh;
}

nav {
  margin-top: 35px;
  width: 100%;
  display: flex;
  align-items: center;
}

.name-profession {
  @include displayFlex(column, flex-start);

  h4 {
    color: var(--text-color);
  }
  p {
    font-family: 'Merienda', cursive;
    font-size: 0.7em;
    color: var(--blue-light);
  }
}

.nav-list {
  @include displayFlex(row, center);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  li {
    position: relative;
    font-size: 0.888em;

    &:hover::before {
      content: '';
      position: absolute;
      bottom: -2px;
      height: 1px;
      background: var(--beige-main);
      animation: moveToRight 0.5s ease;
      animation-fill-mode: forwards;
    }
  }

  @keyframes moveToRight {
    0% {
      width: 0px;
    }
    100% {
      width: 50%;
    }
  }

  li:first-child {
    transform: translateX(-225%);
  }

  li:last-child {
    transform: translateX(270%);
    a {
      color: var(--white);
    }
  }
}

.hero-svg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 58vw;
  height: auto;
}

.logo-place {
  background: var(--blue-light);
  position: relative;
  width: 156px;
  height: 163px;
  transform: translateX(-50%);
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 0;
  display: flex;
  justify-content: center;
  border-radius: 0 0 50% 50%;
  -webkit-box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.09);

  &:hover::after {
    content: '';
    position: absolute;
    width: 156px;
    height: 163px;
    background: var(--blue-light-gradient-angle);
    border-radius: 0 0 50% 50%;
    z-index: -1;
    animation: logoFill 1s ease;
    animation-fill-mode: forwards;
  }
  @keyframes logoFill {
    0% {
      width: 0px;
    }
    100% {
      width: 100%;
    }
  }
}

.logo {
  width: 65%;
  margin-bottom: 15%;
}
