main {
  margin-top: 20vh;
  display: flex;
}

.hero-title {
  margin-bottom: 0.344em;
  width: 45%;
}

.hero-text {
  margin-bottom: 3.5em;
  width: 45%;
}

.sections-slider {
  @include displayFlex(row, center);
  align-self: flex-end;
  position: absolute;
  transform: translateX(-50%);
  gap: 2em;
  left: 50%;
  bottom: 50px;
}

.section-shortcut {
  width: 10px;
  height: 10px;
  background: var(--white);
  border: 2px solid var(--beige-lighter);
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:hover::after {
    content: '';
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    background: var(--beige-main);
    border-radius: 50%;
    top: -2.75px;
    left: -2.75px;
    animation: choseSection ease-in-out 0.25s;
  }
  @keyframes choseSection {
    0% {
      width: 10px;
      height: 10px;
    }
    100% {
      width: 12.5px;
      height: 12.5px;
      top: -2.75px;
      left: -2.75px;
    }
  }
}

.hero-social-networks {
  background: var(--beige-main);
  display: inline-block;
  padding: 1em;
  border-radius: 80px 0 0 80px;
  position: absolute;
  bottom: 50px;
  z-index: 1;
  right: -205px;

  .fab {
    color: var(--white);
    margin: 0 1em 0 1em;
    cursor: pointer;

    &:hover::before {
      font-size: 1.2em;
      background: var(--blue-light-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: initial; /* reset Font Awesome's display:inline-block */
      animation: textAnim 0.5s ease-in-out;
    }

    @keyframes textAnim {
      0% {
        font-size: 1em;
      }
      100% {
        font-size: 1.2em;
      }
    }

    &:first-of-type {
      margin-left: 2em;
    }
  }
}

.hero-social-networks-slide {
  right: 0;
}
