.quote {
  width: 100%;
  margin-top: 16.67em;
  color: white;

  .container {
    position: relative;
    height: 100%;

    .quote-quote {
      background: var(--blue-light);
      width: 5%;
      padding-top: 5%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;

      p {
        position: absolute;
        font-weight: 500;
        top: 50%;
        transform: translateY(-37.5%);
      }

      &:first-of-type {
        top: 0;
        transform: translate(50%, -50%);
      }

      &:last-of-type {
        bottom: 0;
        right: 0;
        transform: translate(-50%, 50%);
      }
    }
  }
}

.quote-wrapper {
  background: var(--beige-main);
  border: 1px solid var(--beige-main);
  @include displayFlex(column, center);
  align-items: center;
  text-align: center;
  width: 90%;
  margin: auto;
  border-radius: 0 75px 0 75px;
  padding: 3.887em 10em 3.333em 10em;

  p:first-of-type {
    font-size: 1.5em;
    line-height: 2;
  }

  p:last-of-type {
    margin-top: 2em;
    margin-bottom: 0.35em;
  }

  .quote-bottom-line {
    width: 10px;
    height: 1px;
    border-radius: 10px;
    background: var(--blue-light);
  }
}
